.button__element {
      font-style: italic;
      padding: 10px 20px;
      background-color: #6a4a37;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
  }

.button__withIcon {
  background-image: url('WebAdoption/src/assets/image/huella.png');
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
}



  